@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

main {
  display: block;
}

pre {
  background-color: #333333;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  font-family: 'Helvetica Neue', Arial;
}

.container {
  width: 100%;
}

.navigation {
  border-bottom: 1px solid #EEE;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

iframe {
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

main {
  padding-top: 100px;
  height: 100%;
}

.profile-info {
  width: 100%;
  font-family: 'pier', Helvetica Neue;
  border-bottom: 1px solid #EEE;
}

.profile-picture {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-image: url("/assets/img/profile.jpg");
  background-size: 100%;
  transition: all .3s;
  cursor: pointer;
}

.profile-picture:hover {
  transition: all .3s;
  box-shadow: 0px 0px 40px -2px #16e0eb;
}

.profile-name, .profile-points {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
}

.profile-points {
  margin-top: 10px;
  font-size: 1em;
  margin-bottom: 20px;
}

.profile-points span {
  color: #17e3ec;
}

td {
  width: 8rem;
}

.email-td {
  padding-right: 30px;
}

.error {
  margin-bottom: 1rem;
  color: red;
}

input.error {
  border: 1px solid red;
}

thead td {
  font-weight: bold;
}

.logo {
  margin-left: 60px;
}

.home, .admin {
  padding: 36px;
  margin: 0 auto;
}

.login, .register {
  background-image: url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1500px;
  height: 90vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.login h2, .register h2 {
  font-size: 1.3em;
  text-align: center;
  color: white;
}

.login-form, .register-form {
  width: 300px;
  margin: 0 auto;
  background-color: #13232f;
  border-radius: 4px;
}

fieldset {
  width: 100%;
  padding: 30px;
  padding-top: 0;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-direction: column;
      flex-direction: column;
}

fieldset label {
  padding: 10px 0;
}

fieldset input {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding-left: 5px;
  height: 35px;
  background: none;
  border: 1px solid #a0b3b0;
  color: white;
  transition: border-color .25s ease, box-shadow .25s ease;
}

fieldset input:focus {
  border-color: #1ab188;
}

fieldset p {
  text-align: center;
}

button[type="submit"] {
  border: 0;
  width: 100%;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  padding: 15px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: white;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

button[type="submit"]:hover, button[type="submit"]:focus {
  background: #179b77;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li p {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-group li p:hover {
  background: #179b77;
  color: white;
}

.tab-group .active p {
  background: #1ab188;
  color: white;
}

.navigation-item {
  height: 50px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-family: 'pier', Helvetica Neue;
  text-transform: uppercase;
}

.navigation-item:hover {
  transition: .3s all;
  border-radius: 5px;
  color: #f31278;
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 36px;
  top: 30px;
}

.bm-burger-button button {
  cursor: pointer;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap {
  margin-top: 100px;
  width: 550px;
}

.bm-overlay {
  position: relative;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.3);
}

.info {
  width: 77%;
  margin-right: 20px;
  border-radius: 5px;
  height: 420px;
  text-align: center;
  background-image: url("/assets/img/home_bg.jpg");
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info h1 {
  margin: 0 auto;
  width: 65%;
  font-family: 'pier', Helvetica Neue;
  font-size: 2.9em;
  color: white;
}

.info p {
  width: 65%;
  margin: 0 auto;
  line-height: 40px;
  font-size: 1.2em;
  color: white;
}

.info button {
  background: none;
  font-family: 'pier', Helvetica Neue;
  border: white 2px solid;
  padding: 10px 40px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em;
  transition: all .3s;
}

.info button:hover {
  background-color: white;
  color: #17e3ec;
  transition: all .3s;
}

.yellow {
  background-color: #fef087;
}

.yellow:hover {
  transition: all .3s;
  background-color: #17e3ec;
}

.pink {
  background-color: #f31278;
}

.pink:hover {
  transition: all .3s;
  background-color: #fef087;
}

.blue {
  background-color: #17e3ec;
}

.blue:hover {
  transition: all .3s;
  background-color: #f31278;
}

.home-pt1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.beoordeling {
  width: 20%;
  height: 420px;
  border-radius: 10px;
  border: 1px solid #EEE;
}

.beoordeling img {
  width: 100%;
}

.beoordeling-btns {
  height: 50px;
  border-top: 1px solid #EEE;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  margin: 0 auto;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.titlebar {
  text-align: center;
  height: auto;
  padding: 10px 20px;
}

.titlebar h2 {
  font-size: 1.1em;
}

.titlebar h3 {
  font-size: .8em;
  margin-top: 10px;
  color: #999999;
}

.beoordeling-btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: all .3s;
}

.good {
  background-color: #17e3ec;
  background-image: url("/assets/svg/vinkje.svg");
}

.good:hover {
  transition: all .3s;
  box-shadow: 0px 0px 40px -2px rgba(21, 162, 154, 0.3);
}

.bad {
  background-color: #f31278;
  background-image: url("/assets/svg/kruisje.svg");
}

.bad:hover {
  transition: all .3s;
  box-shadow: 0px 0px 40px -2px rgba(243, 18, 120, 0.3);
}

.main-title {
  text-align: center;
  font-size: 3em;
  padding: 60px 0;
  color: #17e3ec;
  font-family: 'pier', Helvetica Neue;
  text-transform: uppercase;
}

.winkels {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.shop-item {
  border-radius: 10px;
  width: 24%;
  height: 300px;
  transition: all .3s;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.shop-item img {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .home {
    padding: 3%;
  }
  .home-pt1  {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info h1 {
    width: 95%;
  }
  .info p {
    width: 95%;
  }
  .beoordeling-btns {
    height: 100px;
    padding: 0;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .beoordeling-btns div {
    width: 75%;
    margin-top: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .beoordeling-btn {
    margin-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .info {
    width: 100%;
    margin-right: 0;
  }
  .beoordeling {
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .beoordeling {
    width: 45%;
  }
  .shop-item {
    margin-bottom: 20px;
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .info h1 {
    font-size: 1.8em;
  }
  .info p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .bm-menu-wrap {
    width: 100% !important;
  }
  .beoordeling {
    width: 100%;
    height: auto;
  }
  .shop-item {
    width: 100%;
  }
}
