html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

main {
  display: block;
}

pre {
  background-color: #333333;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  font-family: 'Helvetica Neue', Arial;
}

.container {
  width: 100%;
}

.container .navigation {
  background-color: #F1F1F1;
  width: 100%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

td {
  width: 8rem;
}

.email-td {
  padding-right: 30px;
}

.error {
  margin-bottom: 1rem;
  color: red;
}

input.error {
  border: 1px solid red;
}

thead td {
  font-weight: bold;
}

.logo {
  margin-left: 60px;
}

.home, .admin {
  padding: 36px;
  margin: 0 auto;
}

.login, .register {
  background-image: url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1500px;
  height: 90vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.login h2, .register h2 {
  font-size: 1.3em;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.login-form, .register-form {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #D64343;
  border-radius: 10px;
}

fieldset {
  width: 100%;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-direction: column;
      flex-direction: column;
}

fieldset label {
  padding: 10px 0;
}

fieldset input {
  width: 100%;
  height: 35px;
  border: none;
  background-color: none;
  border-bottom: 2px solid white;
}

fieldset input:focus {
  border: 2px solid white;
}

fieldset p {
  text-align: center;
}

button[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: white;
  cursor: pointer;
  border: 3px solid white;
  color: #D64343;
}

button[type="submit"]:hover {
  background-color: #D64343;
  transition: all .3s;
  border: 3px solid white;
  color: white;
}

.navigation-item {
  height: 50px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: .8em;
  background-color: #393c49;
  color: #F1F1F1;
  text-decoration: none;
}

.navigation-item:hover {
  transition: .3s all;
  border-radius: 5px;
  background-color: #4b4e59;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap {
  width: 250px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 500px) {
  .bm-menu-wrap {
    width: 100% !important;
  }
}
