@import "reset";
@import "mixins";

$blue: #17e3ec;
$backgroundblue: #18c6ce;
$bluedarker: #18c6ce;
$pink: #f31278;
$yellow: #fef087;
$gray-light: #EEE;
$light-border: 1px solid #EEE;

body {
  font-family: 'Lato', Helvetica, sans-serif;
}

.btn-white, .btn-black, .btn-green {
  background: none;
  border: #888 2px solid;
  padding: 9px 30px;
  color: #888;
  border-radius: 50px;
  cursor: pointer;
  font-size: .9em;
  transition: all .3s;
  margin-bottom: 20px;
  &:hover {
    background-color: $bluedarker;
    color: white;
    transition: all .3s;
  }
}

.btn-black {
  color: white;
  border: white 2px solid;
}

.btn-green {
  background-color: #84e27d;

  &:hover {
    background-color: #75ce6e;
  }
}

.navigation {
  border-bottom: 1px solid $gray-light;
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      display: flex;
      align-items: center;
      color: black;
      p {
        padding-left: 10px;
        width: 150px;
      }
      p:hover {
        color: $blue;
      }
    }
  }
}

iframe {
  width: 100%;
  height: 1000px;
}

main {
  padding-top: 100px;
  height: 100%;
}

.profile-info {
  border-bottom: 1px solid #EEE;
}

.profile-picture {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-image: url('/assets/img/profile.jpg');
  background-size: 100%;
  transition: all .3s;
}

.profile-name, .profile-points {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
}

.profile-points {
  margin-top: 10px;
  font-size: 1em;
  margin-bottom: 20px;

  span {
    color: $blue;
  }
}

td {
  width: 8rem;
}

.error {
  margin-bottom: 1rem;
  color: red;
}

input.error {
  border: 1px solid red;
}

.logo {
  margin-left: 60px;
}

.home, .admin {
  padding: 36px;
  @include center;
}

// LOGIN FORM

.login, .register {
  background-color: $backgroundblue;
  height: 87vh;
  display: flex;
  align-items: center;

  h1 {
    padding: 20px 30px;
    border-bottom: $light-border;
  }

  h2 {
    color: gray;
    padding: 20px 30px;
    span {
      color: $backgroundblue;
    }
  }

  h3 {
    color: gray;
    padding: 20px 30px;
  }
}

.login-form, .register-form {
  width: 370px;
  @include center;
  background-color: #ffffff;
  border-radius: 10px;
  border: $light-border;
}

fieldset {
  width: 100%;
  padding: 30px;
  padding-top: 0;
  color: white;
  display: flex;
  flex-direction: column;

  input, select {
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 5px;
    height: 35px;
    background:none;
    border: $light-border;
    color: gray;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
      border-color: $blue;
    }
  }
}

.register-form {
  width: 570px;
}

.register-content {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  div {
    width: 48%;
  }
}

button[type="submit"] {
  border-radius: 5px;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 15px 0;
  font-size:1.2rem;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: $blue;
  color: white;
  transition: all .3s;

  &:hover {
    background:$pink;
  }
}

//NAVIGATION

.navigation-item {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

.navigation-item:hover {
  transition: .3s all;
  border-radius: 5px;
  color: #f31278;
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 36px;
  top: 30px;

  button {
    cursor: pointer;
  }
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-wrap {
  margin-top: 100px;
  width: 550px;
}

.bm-overlay {
  position: relative;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.3);
}

.info {
  width: 77%;
  margin-right: 20px;
  border-radius: 5px;
  height: 420px;
  text-align: center;
  background-image: url('/assets/img/home_bg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1 {
    margin: 0 auto;
    width: 65%;
    font-weight: 900;
    font-size: 2.9em;
    color: white;
  }

  p {
    width: 65%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 1.2em;
    color: white;
  }
}

.yellow {
  background-color: $yellow;

  &:hover {
    transition: all .3s;
    background-color: $blue;
  }
}

.pink {
  background-color: $pink;

  &:hover {
    transition: all .3s;
    background-color: $yellow;
  }
}

.blue {
  background-color: $blue;

  &:hover {
    transition: all .3s;
    background-color: $pink;
  }
}

.home-pt1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.beoordeling {
  width: 20%;
  height: 420px;
  border-radius: 10px;
  border: 1px solid #EEE;

  img {
    width: 100%;
  }
}

.beoordeling-btns {
  height: 50px;
  border-top: 1px solid #EEE;
  display: flex;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.titlebar {
  text-align: center;
  height: auto;
  padding: 10px 20px;
  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: .8em;
    margin-top: 10px;
    color: #999999;
  }
}

.blueselect {
  background-color: #3498db;
}
.redselect {
  background-color: #e74c3c;
}
.greenselect {
  background-color: #2ecc71;
}
.yellowselect {
  background-color: #f1c40f;
}
.blackselect {
  background-color: black;
}
.grayselect {
  background-color: #ecf0f1;
}


.beoordeling-btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: all .3s;
}

.good {
  background-color: #17e3ec;
  background-image: url('/assets/svg/vinkje.svg');

  &:hover {
    transition: all .3s;
    box-shadow: 0px 0px 40px -2px rgba(21,162,154,.3);
  }
}

.bad {
  background-color: #f31278;
  background-image: url('/assets/svg/kruisje.svg');
  &:hover {
    transition: all .3s;
    box-shadow: 0px 0px 40px -2px rgba(243,18,120,.3);
  }
}

.main-title {
  text-align: center;
  font-size: 3em;
  padding: 60px 0;
  font-weight: 900;
  color: $blue;
  text-transform: uppercase;
}

.winkels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shopdetail {
  border-radius: 10px;
  width: 24%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  cursor: pointer;

  article {
    display: flex;
    justify-content: center;

    img {
      height: 100%;
      width: 60%;
    }
  }
}

aside {
  width: 300px;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;

  h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 900;
    color: #555555;
    font-size: 1.2em;
    border-bottom: 1px solid #EEE;
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
  }

  h4 {
    font-size: 1.4em;
    color: #555555;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
  }

  hr {
    border-top: none;
    background-color: #EEE;
    width: 80%;
  }
}

.upperline {
  border-top: 1px solid #EEE;
}

input[type=range]{
  width: 220px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 380px;
  height: 5px;
  background: $pink;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
  border-radius: 50%;
  background: white;
  margin-top: -7px;
}

input[type=range]:focus {
  outline: none;
}

.filterslider {

  display: flex;
  justify-content: center;
}

.specialsize {
  font-size: .7em;
}

.maten-selected {
  background-color: $pink;
}

.filterslidercount {
  margin: 0 auto;
  font-size: .8em;
  margin-bottom: 15px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.maten {
  margin: 0 auto;
  display: flex;
  width: 230px;
  justify-content: space-between;
  li {
    width: 32px;
    height: 32px;
    border: 1px solid #EEE;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #eeeeee;

    &:hover {
      background-color: $pink;
    }
  }
}

.basket-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  img {
    width: 40%;
  }

  h1 {
    text-align: left;
    font-size: 1.2em;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  h2 {
    font-style: italic;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  h3 {
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 10px;
  }
}

.product-aside-info {
  padding-left: 10px;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shopdetailpage {
  display: flex;
  justify-content: space-between;
}

.shopdetail-right {
  width: 80%;
}

.shopdetail-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 91%;
  margin: 0 40px;

  article {
    width: 30%;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 45px -9px rgba(209,209,209,1);

    h1 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.2em;
    }
    h2 {
      text-align: center;
      font-style: italic;
      margin-bottom: 20px;
      color: $pink;
    }
    h3 {
      font-size: 1.5em;
      color: #555;
      font-weight: 900;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

.standardimg {
  height: 250px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
  }
}

.shoptitle, .producttitle {
  text-align: center;
  padding: 80px 0;
  color: #333;
  letter-spacing: 5px;
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Droid Serif', sans-serif;
  background-image: url('/assets/img/titlebg.png');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.productdetailpage {
  display: flex;
  justify-content: space-between;
}

.productoverview {
  background-color: #8dd8f7;
  width: 80%;
}

.producttitle {
  padding-top: 40px;
  height: 400px;
  img {
  }
}

.productcontent {
  width: 100%;
  height: 400px;
  margin-top: -130px;
  padding: 0 40px;
  padding-top: 110px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.beschrijving {
  width: 60%;
  h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: #8dd8f7;
    letter-spacing: 5px;
    margin-bottom: 25px;
  }
  h2 {
    color: #c0c0c0;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  h3 {
    margin-bottom: 10px;
    color: #c0c0c0;
    font-size: 1em;
  }
}

.beschrijvingtekst {
  line-height: 30px;
}

.details {
  border-radius: 10px;
  width: 30%;
  border: 1px solid #EEE;
  height: 400px;

  h1 {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 900;
    color: #555555;
    font-size: 1.2em;
    border-bottom: 1px solid #EEE;
  }

  img {
    margin-top: 10px;
    margin-left: 35px;
    width: 30%;
  }

  h2,p {
    margin: 0 auto;
    width: 75%;
    color: gray;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  p{
    font-size: 1em;
    color: $blue;
    margin-bottom: 30px;
  }
}

.backbtn, .backproductbtn {
  width: 150px;
  background-image: url('/assets/svg/back.svg');
  &:hover{
    background-image: url('/assets/svg/backhover.svg');
  }
}

.backproductbtn {
  background-image: url('/assets/svg/backhover.svg');
  &:hover{
    background-image: url('/assets/svg/backhover2.svg');
  }
}

.winkelmand {
  width: 95%;
  padding-top: 20px;
  margin: 0 auto;
}

@import "responsive";
